$base-path : '/assets';
$fonts-path : '#{$base-path}/fonts';
$images-base-path : '#{$base-path}/images';

//@import 'color.definitions';
@import 'font.definitions';
@import 'breakpoint.definitions';
//@import 'grid.definitions';
