.ctas-item{
	width: 33.333%;
	float: left;
	padding: 5px;
}
.button-primary{
	
	border-radius: 3px;
	color: #ffffff;
	background: #5b9546;
	margin: 10px auto;
	display: block;
	font-size: 16px;

	width: 188px;
	height: 53px;
	line-height: 50px;

	&:hover {
		background: -webkit-linear-gradient(#7cbd42, #619c45); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#7cbd42, #619c45); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#7cbd42, #619c45); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#7cbd42, #619c45); /* Standard syntax */
	}

	&.disabled{
	background: #bfbfbf;
	width: 201px;
}
}

/*.button-primary*/
.button-secondary{
	
	border-radius: 3px;
	color: #ffffff;
	background: #5b9546;
	margin: 10px auto;
	display: block;
	font-size: 16px;

	width: 170px;
	height: 41px;
	line-height: 40px;

	&:hover {
		background: -webkit-linear-gradient(#7cbd42, #619c45);
	    background: -o-linear-gradient(#7cbd42, #619c45);
	    background: -moz-linear-gradient(#7cbd42, #619c45);
	    background: linear-gradient(#7cbd42, #619c45);
	}

	&.disabled{
		background: #bfbfbf;
		width: 186px;
	}

}

.select{
	border-radius: 3px;
	background: #5b9546;
	margin: 10px auto;
	font-size: 16px;
	display: block;
	padding: 5px 10px;
	color: inherit;

	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

	width: 224px;
	height: 42px;
	line-height: 40px;

	&:hover {
		background: -webkit-linear-gradient(#7cbd42, #619c45); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#7cbd42, #619c45); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#7cbd42, #619c45); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#7cbd42, #619c45); /* Standard syntax */
	}

	&.disabled{
		background: #bfbfbf;
	}
}
.select-wrapper{
	display: table;
	margin: 0 auto;
	position: relative;
	color: #ffffff;
	&:after{
		content: "\2329";
		font-size: 18px;
		font-weight: bold;
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%) rotate(-90deg);
	}
}
.select.white{
	background: #ffffff;
	color: #5b9546;

}






