@font-face { 
  font-family: 'ProbaPro bold'; 
  src: url('../../assets/fonts/probapro/probapro-bold.woff2') format('woff2'),
       url('../../assets/fonts/probapro/probapro-bold.ttf') format('truetype'),
  	   url('../../assets/fonts/probapro/probapro-bold.woff') format('woff'),
  	   url('../../assets/fonts/probapro/probapro-bold.svg') format('svg'),
  	   url('../../assets/fonts/probapro/probapro-bold.eot') format('eot');
}

@font-face { 
  font-family: 'ProbaPro italic'; 
  src: url('../../assets/fonts/probapro/probapro-italic.woff2') format('woff2'),
       url('../../assets/fonts/probapro/probapro-italic.ttf') format('truetype'),
  	   url('../../assets/fonts/probapro/probapro-italic.woff') format('woff'),
  	   url('../../assets/fonts/probapro/probapro-italic.svg') format('svg'),
  	   url('../../assets/fonts/probapro/probapro-italic.eot') format('eot');
}

@font-face { 
  font-family: 'ProbaPro regular'; 
  src: url('../../assets/fonts/probapro/probapro-regular.woff2') format('woff2'),
       url('../../assets/fonts/probapro/probapro-regular.ttf') format('truetype'),
  	   url('../../assets/fonts/probapro/probapro-regular.woff') format('woff'),
  	   url('../../assets/fonts/probapro/probapro-regular.svg') format('svg'),
  	   url('../../assets/fonts/probapro/probapro-regular.eot') format('eot');
}

