<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico?v=004" type="image/x-icon" />
    <title>The Fresh Market</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div data-ui-role="content">{{{content}}}</div>
    <script>
        window.APP_STATE = {{{context}}};
    </script>
    <script src="/assets/js/app.js" defer></script>
</body>
